body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#poketop {
    background-color: red;
    width: 450px;
    height: 225px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    border: 5px black solid;
    font-family: 'Poppins' !important;
}
#pokebottom {
    background-color: white;
    width: 450px;
    height: 225px;
    border-bottom-left-radius: 225px;
    border-bottom-right-radius: 225px;
    border: 5px black solid;
    font-family: 'Poppins','Source Sans Pro' !important;
}
#pokecenter {
    height: 40px;
    width: 450px;
}
.fa-stack {
    font-size: 1em;
}
#gifbutton .inner:hover {
    color: grey !important;
    cursor: grab;
}
footer {
    background-color: white;
    margin: auto auto 0 auto;
    width: 100%;
}
.card {
    max-width: 500px;
}
#gif-container {
    border-radius: 15px;
}