body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#poketop {
    background-color: red;
    width: 450px;
    height: 225px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    border-bottom: 0;
    font-family: 'Poppins' !important;
}
#pokebottom {
    background-color: white;
    width: 450px;
    height: 225px;
    border-bottom-left-radius: 225px;
    border-bottom-right-radius: 225px;
    border-top: 0;
    font-family: 'Poppins','Source Sans Pro' !important;
}
#pokecenter {
    height: 20px;
    width: 450px;
}
#gifbutton:hover {
    color: grey !important;
}
footer {
    background-color: white;
    margin: auto auto 0 auto;
    width: 100%;
}
.card {
    max-width: 500px;
}